@Navigation-shadow-color: #173d57;
@Navigation-shadow: 10px 10px 10px -5px @Navigation-shadow-color inset;
@Navigation-selected: #2d74a3;

.Navigation {
    padding: 2rem 4rem;

    &:active {
        box-shadow: @Navigation-shadow;
        background-color: @Navigation-click;
    }

    i {
        font-size: 4rem;
    }
}
.navMenuOpen {
    background-color: @Navigation-selected;
    z-index: 0;
    box-shadow: -5px -5px 5px 0px #235a80;
}
