@Navigation-click: #286894;

.App-header {
    background-color: @header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .Header-title {
        margin: 1rem 2rem;
        // text-align: center;

        div {
            width: 130px;
            text-align: center;
        }
    }
}
